<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
</head>
<body>
<hr>
<h1><a href="/start">Small Library Application</a></h1>
<h2>Detail of Movie</h2>
<hr>
<h4><a href="/movie/edit/{{movie.id}}">Update movie</a></h4>
<h4><a href="/movie/delete/{{movie.id}}">Delete movie</a></h4>
<hr>
<h3>{{movie.title|upper}}</h3>
<h3>{{movie.year}}</h3>
<h3>{{movie.duration}}</h3>
<h3>{{movie.director}}</h3>
<h3>{{movie.Genre}}</h3>
</body>
</html>